@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FDFBF7;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #2D241E;
}

h1, h2, h3, h4, .serif {
  font-family: 'Playfair Display', serif;
}
